<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Async Django</title>
</head>
<body>
    
    <form action="{% url 'backend:home' %}" method="POST">
        {% csrf_token %}
        <label for="">Provide your email: </label>
        <input type="email" name="email" placeholder="your email..." required>
        <button>Subscribe now</button>
    </form>

</body>
</html>